{% extends 'base.html' %}

{% load static %}

{% block title %}
Home - PLACIDE HAKIZIMANA WEB
{% endblock %}

{% block content %}

{% for image in images %}
    {% if image.category.name == 'home' %}
        <img class="image" src="{{ image.image.url }}" alt="{{ image.title }}">
    {% endif %}
{% endfor %}

<div class="about-container">
    <h1>About Us</h1>
    <p>The architecture and construction are sign of development,
        it either seed despondency or elation, the architecture never be neutral. 
        For us we want to have healing power, dignity, freedom and independence throughout architecture 
        and construction. Our contemplation is that our projects point out development in whole neighborhood. FACT is better able to deliver quality projects for our clients and partners while supporting the local economy with local purchasing, education, and job creation. FACT’s goal is to be a 
        change maker in the construction industry-advancing ethics and impact, while meeting project targets.</p>

    <h1>Our Mission: Our fact is our Reality Action</h1>
    <p>FACT was founded on the understanding that architecture’s influence reaches beyond individual 
        buildings. FACT (Focus on Architecture & Construction Technology) believes that architecture 
        has a critical role to play in supporting communities to confront history, shape new narratives,
        collectively heal and project new possibilities for the future, Through sustainable design approach.
        We work as architects, landscape architects, engineers, builders, furniture designers, writers and 
        researchers and our base are Rwanda (Kigali-Kacyiru). We believe in design that respect the existing 
        environment(the human and nature have great relationship and building is home of human , why we 
        cannot bring nature inside to keep strong relationship between nature and humanity). 
        Again, we believe in expanding access to design that is purposeful, healing, and hopeful.</p>
</div>
<div class="content">
    <p class="center-text">Professional work is done by professional and right people</p>
    <a href="{% url 'contact' %}" class="get-in-touch">reach out us via our social media and for sure
        you  will never regret for  you perfect choice
    </a>
</div>

{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/about.css' %}">

{% endblock %}
