{% extends 'base.html' %}

{% load static %}

{% block title %}
Home - PLACIDE HAKIZIMANA WEB
{% endblock %}

{% block content %}

{% for image in images %}
    {% if image.category.name == 'home' %}
        <img class="image" src="{{ image.image.url }}" alt="{{ image.title }}">
    {% endif %}
{% endfor %}

<div class="content">
    <p class="center-text">Professional work is done by professional and right people</p>
    <a href="{% url 'contact' %}" class="get-in-touch">reach out us via our social media and for sure
        you  will never regret for  you perfect choice
    </a>
</div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/index.css' %}">
{% endblock %}
