{% extends 'base.html' %}

{% load static %}

{% block title %}
Services - PLACIDE HAKIZIMANA WEB
{% endblock %}

{% block content %}

    <div class="description">
    <h1>What we provide to our clients</h1>
    <p>Presso ....., offriamo una gamma completa di servizi per soddisfare tutte le 
        vostre esigenze architettoniche e di costruzione. Dalle soluzioni innovative di 
        progettazione architettonica alla gestione esperta della costruzione e consulenza per il design sostenibile, il nostro team è impegnato a offrire eccellenza in ogni progetto. Con un focus su creatività, funzionalità e sostenibilità, ci sforziamo di superare le aspettative dei nostri clienti e creare spazi che ispirano, durano e arricchiscono la vita.</p>

                
</div>
<!---
            <div class="services-container">
                {% for service_image in service_images %}
                <div class="service" data-category="{{ service_image.category }}">
                    <img src="{{ service_image.image.url }}" alt="{{service_image.description }}">
                    <p>{{ service_image.description}}</p>
                    <p>{{ service_image.description}}</p>
                    <p>{{ service_image.posted_date|date:"Y-m-d" }}</p>
                </div>
                {% endfor %}
            </div>
        -->
    <div class="reference-service"><a href="#">see some of our completed projects</a></div>
{% endblock %}

{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'FactWebApp/css/services.css' %}">
{% endblock %}